$body-background-color: $blue-200;
$sidebar-color: $blue-200;
$border-color: $blue-200;

$body-text-color: $blue-200;
$body-heading-color: $blue-200;
$nav-child-link-color: $blue-200;
$search-result-preview-color: $blue-200;

$link-color: $blue-000;
$btn-primary-color: $blue-200;
$base-button-color: $blue-200;

$code-background-color: $blue-200;
$search-background-color: $blue-200;
$table-background-color: $blue-200;
$feedback-color: darken($sidebar-color, 3%);
